*{
    margin: 0;
    padding: 0;
}
.grid{
    margin-top: 2.3%;
    margin-left: 50px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#name-input{
    position: relative;
}
#eye img{
    top: 625px;
    left: 490px;
    cursor: pointer;
    position: absolute;
}
.eye{
}
.main-header{
    font-size: 30px;
    font-weight: 600;
    margin-top: 25px;
    font-family: Poppins;
    color: #000000;
}
.para{
    font-weight: 400;
    font-size: 14px;
    margin-top: 15px;
    font-weight: 565;
    font-family: Roboto;
}

.buttons{
    width: 360px;
    color: #000000;
    padding-right: 150px;
    display: flex;
    margin-top: 30px;
}
.google p{
    padding-left: 9px;
    font-size: 14px;
    font-weight: 500;
}
.google{
    width: 218px;
    padding-right: 31px;
}
.apple p{
    padding-left: 9px;
    font-size: 15px;
    font-weight: 500;
}
.apple{
    width: 218px;
    padding-right: 100px;
}
.btn1{
    background-color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    border:1px solid #E7EFF3;
    border-radius: 15px;
    width: 230px;
    height: 50px;
    font-family: Inter;
    font-size: 14px;
   cursor: pointer;
}
.btn2{
    background-color: white;
    text-align: center;
    border:1px solid #E7EFF3;
    border-radius: 15px;
    width: 18px;
    height:40px;
    font-family: Inter;
    font-size: 14px;
   cursor: pointer;

}
.hrline{
    color: #4E4E4E;
    margin-top: 20px;
    display: flex;
    width: 472px;
}
.hrline hr{
       border: 0.01px #E7EFF3 solid;
       border-top: 0.001px;
       width: 180px;
       height: px;
}
.hrline p{
    font-size: 14px;
    color: #4E4E4E;
    font-weight: 500;
}
.name{
    padding-bottom: 3px;
    font-weight: 600;
    font-size: 14px;
    font-family: Inter;
    color: #4E4E4E;
}
.name-input{
    border-radius: 10px;
    padding-left: 30px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-family: Inter;
    border:0.1px #E7EFF3 solid;
    width: 440px;
    height: 45px;
    font-size: 14px;
    font-weight: 500;
    outline: none;
}
input[type = text]:focus{
    border: 1px solid #436CAD;
    box-shadow: 0.5px 0.3px 2px #436CAD;
    outline: none;
}
input[type = password]:focus{
    border: 1px solid #436CAD;
    box-shadow: 0.5px 0.3px 2px #436CAD;
    outline: none;
}
.forgetPass{
    font-family: Inter;
    margin-top: 20px;
    display: flex;
}
.forget a{
    color: #436CAD;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}
.forget{
    margin-left: 257px;
    font-size: 11px;
    color: #436CAD;

    padding-left: 25px;
}
.termCond a{
    color: black;
    font-size: 14px;
    font-weight: 600;
}
.termCond{
    margin-top: 15px;
    display: flex;
}
.termCond input{
    border: 6px #494949 solid;
    width: 15px;
    height: 15px;
}
.termCond p{
    margin-left: 5px;
     font-family: Inter;
     color: #494949;
     font-size: 14px;
     font-weight: 600;
}
.login button{
    cursor: pointer;
    border: 0px white;
    margin-top: 20px;
    color: white;
    font-family: Inter;
    background-color:#436CAD;
    text-align: center;
    width: 483px;
    height: 47px;
    border-radius: 6px;
    font-size: 14px;
}
.dont a{
    padding-left:3px;
}
.dont{
    margin-top: 3px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
}
.sign{
    margin-left: 138px;
}
.footer p{
    font-family: Inter;
    color: #929292;
    padding-top: 45px;
    font-weight: 600;
    font-size: 14px;
}
.right{
    padding: 0%;
}
.divimg{
    padding: 0%;
    width: 738px;
    height: 917px;
    position: relative;
    background-image: url("./Background.jpg"); 
    background-repeat: no-repeat;
}
.img11{
    /* width: 513px; */
    /* height: 266px; */
    position: absolute;
    z-index: 1;
    top: 538px;
    left: 163px;
    opacity: 0.5;
    border-radius: 7px;
}
.img12{
    width: 629px;
    /* height: 321px; */
    top: 411px;
    left: 50px;
    border-radius: 7px;
    position: absolute;
    z-index: 3;
}